.g-sop {
  display: flex;
  height: 100%;
  
  .menu {
    position: relative;
    background:#eee;
    width: 230px;

    &.sm {
      width: 80px;
      &>.item>.info {
        display: none;
      }
      &>.title>span {
        display: none;
      }
      &>.item>i {
        display: none;
      }
    }

    &>.title {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;
      background:#fff;
      margin-bottom: 10px;
      height: var(--menu-height);

      span {
        margin-left: 10px;
      }
    }

    &>.item {
      position: relative;
      height: 70px;
      padding: 10px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      background:#fff;
      box-sizing: border-box;
      color: #333;

      &.sel {
        background: var(--clr-main);

        .info {
          color: #fff!important;
        }

        .login-type {
          color: #fff!important;
          border: 1px solid #fff;
        }
      }

      &>img {
        width: 50px;
        height: 50px;
      }

      &>.info {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        overflow: hidden;

        label {
          flex: 1;
          font-size: 14px;
          font-weight: bold;
        }
        span {
          font-size: 12px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      &>.login-type {
        padding: 0 8px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        background: rgba(60,120,248,.8);
        border-radius: 8px 0px 12px 0px;
        position: absolute;
        left: 3px;
        top: 2px;
        transform: scale(.8);
      }
    }

    &>i {
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 0;
      height: 0;
      border: 10px solid #ff6600;
      border-left:10px solid transparent ;
      border-bottom:10px solid transparent ;
    }
  }

  .main {
    flex: 1;
    background: #666;
    padding-left: 2px;

    header {
      display: flex;
      background: #fff;
      padding: 10px;
      height: var(--menu-height);
      box-sizing: border-box;

      &>li {
        margin: 0 5px;
      }
    }

    .wrap {
      display: flex;
      height: calc( 100% - 47px);
      background: #fff;
      border-top: 2px solid #eee;
      background: #eee;

      .chat-lt {
        width: 250px;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-right: 1px;
        background:#fff;

        .tab {
          display: flex;
          justify-content: space-around;

          span {
            position: relative;
            padding: 10px 0;
            text-align: center;
            cursor: pointer;

            &.sel {
              color: var(--clr-main);
              border-bottom: 4px solid var(--clr-main);
            }

            &>.unread {
              position: absolute;
              width: 20px;
              height: 20px;
              background: #ee6666;
              border-radius: 12px;
              font-size: 12px;
              color: #fff;
              right: -20px;
              top: 2px;
              display: flex;
              justify-content: center;
              align-items: center;
              transform: scale(.9);
            }
          }
        }

        .contact {
          display: flex;
          flex-direction: column;
          height: calc( 100% - 45px );

          .search {
            display: flex;
            align-items: center;
            background: #eee;
            padding: 10px 15px;
            margin: 10px 8px;
            border-radius: 5px;

            img {
              height: 16px;
              width: 16px;
            }

            input {
              width: 100%;
              background:transparent;
              outline: none;
              border: none;
            }
          }

          .list {
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            // margin-right: -15px;
            // background:#f7f7f7;
            position: relative;

            &>.list-title {
              margin: 0 0 0 10px;
              padding: 5px 0;
              border-bottom: 1px solid #ccc;
            }
            
            &>.list-item {
              display: flex;
              flex-direction: column;
              padding: 10px;
              background: #fff;
              cursor: pointer;
              position: relative;

              &.sel {
                background:var(--clr-sub);
              }

              .item-hd {
                display: flex;

                img {
                  width: 56px;
                  height: 56px;
                  margin-right: 10px;
                  background: #f7f7f7;
                  border-radius: 5px;
                }

                &>.info{
                  flex: 1;
                  display: flex;
                  flex-direction: column;
                  width: calc( 100% - 66px );

                  &>.hd {
                    display: flex;

                    span {
                      text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;

                      &:nth-child(1){
                        flex: 1;
                      }

                      &:nth-child(2){
                        font-size: 12px;
                        font-family: Source Han Sans CN;
                        font-weight: 400;
                        color: #666;
                      }
                    }

                    &>i {
                      padding: 0px 3px;
                      border-radius: 3px;
                      border: 1px solid var(--clr-main);
                      color: var(--clr-main);
                      font-size: 12px;
                      height: 20px;

                      &+i {
                        margin-left: 5px;
                      }
                    }
                  }

                  &>.bd {
                    flex: 1;
                    display: flex;
                    align-items: flex-end;
                    font-size: 12px;


                    span {
                      width: 100%;
                      display: inline-block;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;
                      color: #666;
                    }
                  }
                }
              }

              .item-ft {
                display: flex;
                justify-content: flex-end;
                font-size: 12px;
                padding: 5px 5px 0;

                label {
                  color: #ff6600;
                  margin-right: 10px;
                }
                span {
                  color: #1edb37;
                  cursor: pointer;
                }
              }

              
              
            }

            .tooltip{
              &>div{
                padding: 10px;

                &>.pop{
                  &>h4{
                    color: #606266;
                  }
              
                  &>button{
                    width: 56px;
                    font-size: 12px;
                    border-radius: 4px;
                    padding: 3px 3px;
                    display: inline-block;
                    border: 1px solid #ebeef5;
                    background: #3E7AF7;
                    color: #fff;
                  }
                }
              }
            }

            &>.top{
              background-color: #ffdb6f;
            }

            &::-webkit-scrollbar{
              width: 1px;
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 10px;
              background: rgba(0,0,0,0.2);
            }

          }
        }
      }

      .chat-cnt {
        flex: 1;

        background:#fff;


        .chat-hd {
          display: flex;
          height: 58px;
          width: 100%;
          line-height: 58px;
          justify-content: space-between;
          padding: 0 10px;
          border-bottom: 1px solid #eee;

          .info {
            display: flex;
            width: 30%;

            .from {
              margin-left: 6px;
              color: #62ed00;
              font-size: 12px;
            }

            .del {
              margin-left: 6px;
              margin-top: 18px;
              height: 22px;
              line-height: 22px;
              text-align: center;
              padding: 0 3px;
              background-color: #fff;
              font-size: 12px;
              color: #d1d1d1;
              border: 1px solid #eee;
            }
          }
        }

        .chat-bd {
          display: flex;
          justify-content: flex-end;
          height: calc(100% - 59px);

          .chat-wrap {
            flex: 1;
            display: flex;
            flex-direction: column;
            height: 100%;
            // overflow: hidden;


            .chat-content {
              height: 70%;
              max-height: calc(100% - 200px);
              overflow-y: scroll;
              margin-right: -15px;
              padding-bottom: 20px;

              &>.more {
                margin: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #999;
                font-size: 12px;  
                cursor: pointer;

                &.act {
                  color: #409eff;
                }
              }

              &>.msg {
                display: flex;
                flex-direction: column;

                &+.msg {
                  margin-top: 20px;
                }

                .msg-wrap {
                  // justify-content: flex-end;

                  .msg-menu{
                    margin: 3px 10px;
                    padding: 0 5px;
                    height: 20px;
                    line-height: 15px;
                    cursor: pointer;
                    border: 1px solid #e4e7ed;
                    border-radius: 3px;
                    font-weight: bold;
                    font-size: 24px;
                  }
                }

                &.rec {
                  align-items: flex-end;

                  &>.msg-line {
                    flex-direction: row-reverse;

                    .msg-wrap {
                      justify-content: flex-end;
                    }

                    .msg-info {
                      text-align: right;
                    }
                  }

                  .mg-txt {
                    background: var(--clr-msg-rec);

                    &:before {
                      border:none;
                    }

                    &:after {
                      right: -6px;
                      border-left: 6px solid var(--clr-msg-rec);
                    }
                  }
                }

                .msg-line {
                  display: flex;


                  .avatar {
                    width: 35px;
                    height: 35px;
                    min-width: 35px;
                    min-height: 35px;
                    margin: 3px 10px;
                    border-radius: 3px;
                    overflow: hidden;

                    img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }

                  .msg-detail {
                    display: flex;
                    flex-direction: column;

                    .msg-info {
                      margin: 5px 0;
                    }

                    .msg-wrap {
                      display: flex;
                      // flex-direction: column;
                      position: relative;

                      &>.msg-status {
                        font-size: 12px;
                        width: 14px;
                        height: 14px;
                        display: inline-flex;
                        margin: 5px 10px;

                        &.r {
                          animation: rotating 2s linear infinite;
                        }

                        img {
                          width: 100%;
                          height: 100%;
                        }
                      }
                      
                    }

                    &>.msg-status {
                      display: flex;
                      justify-content: flex-end;
                      font-size: 12px;
                      color: var(--clr-main);
                      margin-top: 2px;
                    }
                  }
                }
              }
            }
            .sendbox {
              height: 30%;
              min-height: 200px;
              border-bottom-left-radius: 15px;
              border-bottom-right-radius: 15px;
              border-top: 1px solid #ddd;
              display: flex;
              flex-direction: column;
              font-size: 12px;
              color: #666;

              .send-menu {
                display: flex;
                height: 40px;

                .sp {
                  flex: 1;
                }

                .menu-item {
                  height: 100%;
                  position: relative;
                  display: flex;
                  align-items: center;
                  cursor: pointer;


                  &+.menu-item:before {
                    content: '';
                    display: block;
                    background: #eee;
                    height: 60%;
                    width: 1px;
                  }

                  label {
                    padding: 0 10px;
                  }

                  img {
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    box-sizing: border-box;
                  }
                  input[type='file'] {
                    opacity: 0;
                    height: 40px;
                    width: 40px;
                    position: absolute;
                    left: 0;
                    top: 0;
                  }
                }
              }

              .send-area {
                position: relative;
                height: calc(100% - 45px);
                border-bottom: 1px solid #ccc;

                textarea {
                  height: 100%;
                  position: relative;
                  display: block;
                  resize: vertical;
                  padding: 5px 15px;
                  line-height: 1.5;
                  box-sizing: border-box;
                  width: 100%;
                  border: none;
                  &::placeholder {
                    color: #ccc;
                  }
                }

                span {
                  color: #999;
                  position: absolute;
                  font-size: 12px;
                  line-height: 14px;
                  bottom: 5px;
                  right: 10px;
                }
              }

              .send-desc {
                padding-right: 15px;
                height: 25px;
                line-height: 25px;
                text-align: right;
              }
            }
          }

          .chat-side {
            display: flex;
            flex-direction: column;
            width: 360px;
            border-left: 1px solid #ccc;
          }
        }
      }
    }
  }


  .card {
    border: 1px solid var(--clr-main);
    border-radius: 5px;
    padding: 0px 5px;
    color: var(--clr-main)!important;
    margin-right: 5px;
    
  }
}




.pop{
  .item{
    height: 35px;
    line-height: 35px;
    padding-left: 10px;

    &+.item{
      border-top:1px solid #eee ;
    }
  }

  .dis{
    color: #afafaf;
    cursor: not-allowed;
  }
}


@keyframes rotating{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}

*:focus {
  outline: 0;
}